.checkout-item-card {
  display: flex;
  align-items: center;
  padding: 10px;
}

.checkout-card-content {
  display: flex;
  width: 100%;
}

.checkout-card-image {
  flex-shrink: 0;
  width: 226px;
  height: auto;
}

.checkout-card-info {
  padding-left: 20px;
}

.checkout-card-price {
  padding-right: 20px;
  font-weight: bold;
}

.checkout-summary {
  margin-top: 30px;
  text-align: right;
}

.checkout-summary h5 {
  margin: 10px 0;
}
